[Unit]
Description=Cloudflare Tunnel for DSH
Wants=network-online.target dsh-web.service
After=network-online.target dsh-web.service

[Service]
Type=notify
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate --metrics 127.0.0.1:20241 run --token-file %h/.cloudflared/dsh-tunnel-token
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=default.target
